<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enio | Cena DT vs ceny IDA</title>
    <link rel="icon" type="image/x-icon" href="/img/Enio_symbol_green_transparent_small.ico">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>
<body>
    <div class="header">
        <div class="logo">
            <img src="/img/Enio_wordmark_black_background.jpg" alt="Logo" style="height: 50px; width: auto;">
        </div>
        <form id="dateForm" class="navigation-form">
            <input type="hidden" name="sluzbaFinder" id="sluzbaFinder" value="<%= sluzbaFinder %>"/>
            <input type="hidden" name="ponukaFinder" id="ponukaFinder" value="<%= akt_ponuka %>" />
            <button type="button" class="triangle-button backward" onclick="navigate('backward')"></button>
            <input type="date" name="currentDay" id="currentDay" value="<%= currentDay %>" />
            <button type="button" class="triangle-button forward" onclick="navigate('forward')"></button>
        </form>

    </div>
    <div class="navigate-line">
        <div id="home-icon" onclick="toggleNav()">
            <img src="/img/Enio-home-icon-small.png" alt="home" style="height: 20px; width: auto;">
        </div>
        <div class="home-text">Prehľad ponúk disponibility</div>
        <div class="checkbox-group">
            <label for="myListBox_sluzba">Výber služby:</label>
            <select id="myListBox_sluzba" name="myListBox_sluzba" onchange="zmenaSluzby(event)">

                <option value ="fcr" <% if ( sluzbaFinder  == "fcr") { %><%= "selected" %><% } %> >FCR</option>
                <option value ="afrrp" <% if ( sluzbaFinder  == "afrrp") { %><%= "selected" %><% } %> >aFRR +</option>
                <option value ="afrrn" <% if ( sluzbaFinder  == "afrrn") { %><%= "selected" %><% } %> >aFRR -</option>
                <option value ="mfrrp" <% if ( sluzbaFinder  == "mfrrp") { %><%= "selected" %><% } %> >mFRR +</option>
                <option value ="mfrrn" <% if ( sluzbaFinder  == "mfrrn") { %><%= "selected" %><% } %> >mFRR -</option>

            </select>
            <label for="myListBox_unit">Výber ponuky:</label>
            <select id="myListBox_unit" name="myListBox_unit" onchange="zmenaPonuky(event)">

                <% ponukyList.forEach(function(ponuka){ %>
                    <option value="<%= ponuka %>" <% if (akt_ponuka === ponuka) {%>selected<%} %>>
                        <%= ponuka %>
                    </option>
                <% }); %>


            </select>
        </div>
    </div>

    <%- include('../partials/navigator') %>

    </div>

    <div class="container">
        <div class="left-dva-grafy">
            <div class="chart-dva-vertikalne">
                <canvas id="chart1"></canvas>
            </div>
            <div class="chart-dva-vertikalne">
                <canvas id="chart2"></canvas>
            </div>
        </div>
        <div class="right">
            <h3>Prehľad cien DT a ceny odchýlky</h3>
            <table>
                <thead>
                    <tr>
                        <th>Perioda</th>
                        <th>Čas</th>
                        <th>Min. cena</th>
                        <th>Max. cena</th>
                        <th>Avg. cena</th>
                        <th>Množstvo</th>
                        <th>Cena</th>
                    </tr>
                </thead>
                 <tbody id="table-body">
                    
                    <% dataJSON.forEach(function(item) { %>
                        <tr>
                            <td class="timestamp"><%= item.qh_num %></td>
                            <td class="timestamp"><%= item.cas %></td>
                            <td>
                                <% if (item.disp_min !== null && item.disp_min !== undefined) { %>
                                    <%= item.disp_min.toFixed(2) %>
                                <% } else { %>
                                    N/A
                                <% } %>

                            </td>
                            <td>
                                <% if (item.disp_max !== null && item.disp_max !== undefined) { %>
                                    <%= item.disp_max.toFixed(2) %>
                                <% } else { %>
                                    N/A
                                <% } %>

                            </td>
                            <td>
                                <% if (item.disp_wavg !== null && item.disp_wavg !== undefined) { %>
                                    <%= item.disp_wavg.toFixed(2) %>
                                <% } else { %>
                                    N/A
                                <% } %>

                            </td>                        
                            <td>
                                <% if (item.quantity !== null && item.quantity !== undefined) { %>
                                    <%= item.quantity.toFixed(2) %>
                                <% } else { %>
                                    N/A
                                <% } %>

                            </td>
                            <td>
                                <% if (item.price !== null && item.price !== undefined) { %>
                                    <%= item.price.toFixed(2) %>
                                <% } else { %>
                                    N/A
                                <% } %>
                            </td>
                        </tr>
                    <% }); %>

                </tbody>            
            </table>
        </div>
    </div>

    <script>

        let dataGraf_obj = ' <%-JSON.stringify(dataJSON) %> ';
        let dataGraf = JSON.parse(dataGraf_obj);

        const labels = dataGraf.map(item => item.cas);
        const disp_wavg = dataGraf.map(item => item.disp_wavg || null);
        const disp_min = dataGraf.map(item => item.disp_min || null);
        const disp_max = dataGraf.map(item => item.disp_max || null);
        const price = dataGraf.map(item => item.price || null);
        const celkove_mnozstvo = dataGraf.map(item => item.offers_spolu || null);       
        const mnozstvo = dataGraf.map(item => item.quantity|| null);   


        const ctx = document.getElementById('chart1').getContext('2d');
        window.myChart1 = new Chart(ctx, {
            type: 'line',
            data: {
                labels: labels,
                datasets: [
                {
                    label: 'Cena ponuku',
                    data: price,
                    type: 'line',
                    backgroundColor: 'green',
                    borderColor: 'green',
                    borderWidth: 1
                
                },
                {
                    label: 'Cena WAVG',
                    data: disp_wavg,
                    type: 'line',
                    backgroundColor: 'red',
                    borderColor: 'red',
                    borderWidth: 1,
                    pointRadius: 1
                
                },
                {
                    label: 'Cena min.',
                    data: disp_min,
                    type: 'line',
                    backgroundColor:  'rgba(127, 183, 127, 0.3)',
                    borderColor: 'rgba(127, 183, 127, 0.4)',
                    borderWidth: 1,
                    pointRadius: 1
                },
                {
                    label: 'Cena max.',
                    data: disp_max,
                    backgroundColor: 'rgba(127, 183, 127, 0.3)',
                    borderColor: 'rgba(127, 183, 127, 0.4)',
                    borderWidth: 1,
                    pointRadius: 1,
                    fill: '-1'  // Fill between this and the previous dataset

                },
            ]},
            options: {
                interaction: {
                    intersect: true,
                    mode: 'index'},
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                    title: {
                        display: true,
                        text: 'Prehľad cien ponuky ',
                        font: { size: 14 }
                    }
                }
            },
        });

        const ctx1 = document.getElementById('chart2').getContext('2d');
        window.myChart2 = new Chart(ctx1, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [
                {
                    label: 'Množstvo ponuka',
                    data: mnozstvo,
                    type: 'line',
                    backgroundColor: 'green',
                    borderColor: 'green',
                    borderWidth: 1,
                    pointRadius: 1,
                
                },
                {
                    label: 'Celkové množstvo',
                    data: celkove_mnozstvo,
                    type: 'bar',
                    backgroundColor: 'rgba(127, 183, 127, 0.3)',
                    borderColor: 'rgba(127, 183, 127, 0.4)',
                    borderWidth: 1
                
                }


            ]},
            options: {
                interaction: {
                    intersect: true,
                    mode: 'index'},
                responsive: true,
                maintainAspectRatio: false,
                }
        });


    </script>

<script src="js/script-disp-ponuka.js"></script>

</body>
</html>
