<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enio | Vyhodnotenie DT</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>
<body>
    <div class="header">
        <div class="logo">
            <img src="/img/Enio_wordmark_black_background.jpg" alt="Logo" style="height: 50px; width: auto;">
        </div>
        <form action="/DT-region" method="POST" class="navigation-form">
            <input type="hidden" name="direction" id="direction" />
            <button type="button" class="triangle-button backward" onclick="navigate('backward')"></button>
            <input type="date" name="currentDay" id="currentDay" value="<%= currentDay %>" />
            <button type="button" class="triangle-button forward" onclick="navigate('forward')"></button>
        </form>

    </div>
    <div class="navigate-line">
        <div id="home-icon" onclick="toggleNav()">
            <img src="/img/Enio-home-icon-small.png" alt="home" style="height: 20px; width: auto;">
        </div>
        <div class="home-text">Výsledky denného trhu</div>
    </div>

    <%- include('../partials/navigator') %>

    </div>

    <div class="container">
        <div class="left">
            <canvas id="myChart"></canvas>
        </div>
        <div class="right">
            <h3>Prehľad cien na dennom trhu</h3>
            <table>
                <thead>
                    <tr>
                        <th>Perioda</th>
                        <th>Čas</th>
                        <th>Cena SK</th>
                        <th>Cena CZ</th>
                        <th>Cena DE</th>
                        <th>Cena HU</th>
                        <th>Cena PL</th>
                    </tr>
                </thead>
                <tbody>
                    
                    <% dataJSON.forEach(function(item) { %>
                        <tr>
                            <td class="timestamp"><%= item.perioda %></td>
                            <td class="timestamp"><%= item.utc_cas %></td>

                            <td>
                                <% if (item.cena_SK !== null && item.cena_SK !== undefined) { %>
                                    <%= item.cena_SK.toFixed(2) %>
                                <% } else { %>
                                    N/A
                                <% } %>

                            </td>

                            <td>
                                <% if (item.cena_CZ !== null && item.cena_CZ !== undefined) { %>
                                    <%= item.cena_CZ.toFixed(2) %>
                                <% } else { %>
                                    N/A
                                <% } %>

                            </td>


                            <td>
                                <% if (item.cena_DE !== null && item.cena_DE !== undefined) { %>
                                    <%= item.cena_DE.toFixed(2) %>
                                <% } else { %>
                                    N/A
                                <% } %>

                            </td>

                            <td>
                                <% if (item.cena_HU !== null && item.cena_HU !== undefined) { %>
                                    <%= item.cena_HU.toFixed(2) %>
                                <% } else { %>
                                    N/A
                                <% } %>

                            </td>

                            <td>
                                <% if (item.cena_PL !== null && item.cena_PL !== undefined) { %>
                                    <%= item.cena_PL.toFixed(2) %>
                                <% } else { %>
                                    N/A
                                <% } %>

                            </td>


                        </tr>
                    <% }); %>

                </tbody>
            </table>
        </div>
    </div>

    <script>

        function formatTimeRange(timeStr) {
            
            
            if (!timeStr || !/^\d{2}:\d{2}$/.test(timeStr)) return timeStr;
    
            // Extract the hour part
            const hour = parseInt(timeStr.split(':')[0]);
            
            // Calculate next hour (handling 23 -> 24 case)
            const nextHour = hour === 23 ? 24 : hour + 1;
            
            // Format both hours with leading zeros
            const currentHourFormatted = String(hour).padStart(2, '0') + ':00';
            const nextHourFormatted = String(nextHour).padStart(2, '0') + ':00';
    
            return `${currentHourFormatted} - ${nextHourFormatted}`;
        }



        let dataGraf_obj = ' <%-JSON.stringify(dataJSON) %> ';
        let dataGraf = JSON.parse(dataGraf_obj);

        const labels = dataGraf.map(item => item.perioda);
        const DT_cena_SK = dataGraf.map(item => item.cena_SK ?? null);
        const DT_cena_CZ = dataGraf.map(item => item.cena_CZ ?? null);
        const DT_cena_DE = dataGraf.map(item => item.cena_DE ?? null);
        const DT_cena_PL = dataGraf.map(item => item.cena_PL ?? null);
        const DT_cena_HU = dataGraf.map(item => item.cena_HU ?? null);
        const cas = dataGraf.map(item => formatTimeRange(item.utc_cas) ?? null);



        function navigate(direction) {
            document.getElementById('direction').value = direction;
            document.querySelector('form').submit();
        }
    
        dateInput = document.getElementById('currentDay');
        dateInput.addEventListener('change', () => {
            const selectedDate = dateInput.value; // e.g., "2025-01-01"
            if (selectedDate) {
                document.querySelector('form').submit(); // Send date to server
            }
        });

        // Create the chart

        const ctx = document.getElementById('myChart').getContext('2d');
        new Chart(ctx, {
            type: 'line',
            data: {
                labels: labels  ,
                datasets: [{
                    label: 'Cena_SK',
                    type: 'bar',
                    data: DT_cena_SK,
                    backgroundColor: 'rgba(181, 238, 71, 0.6)',
                    borderColor: 'rgba(96, 143, 6, 0.6)',
                    borderWidth: 1
                },
                {
                    label: 'Cena_CZ',
                    data: DT_cena_CZ,
                    backgroundColor: 'rgba(249, 121, 121, 0.6)',
                    borderColor: 'rgba(249, 121, 121, 0.6)',
                    borderWidth: 2
                },
                {
                    label: 'Cena_DE',
                    type: 'line',
                    stepped: false,
                    data: DT_cena_DE,
                    backgroundColor: 'grey',
                    borderColor: 'grey',
                    BorderWidth: 2
                },
                {
                    label: 'Cena_HU',
                    type: 'line',
                    stepped: false,
                    data: DT_cena_HU,
                    backgroundColor: 'rgba(94, 202, 243, 0.8)',
                    borderColor: 'rgba(94, 202, 243, 0.8)',
                    BorderWidth: 2
                },
                {
                    label: 'Cena_PL',
                    type: 'line',
                    stepped: false,
                    data: DT_cena_PL,
                    backgroundColor: 'rgba(251, 179, 47, 0.8)',
                    borderColor: 'rgba(251, 179, 47, 0.8)',
                    BorderWidth: 2
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                }
        });

    </script>

<script src="js/script.js"></script>

</body>
</html>
