<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enio | Vyhodnotenie DT</title>
    <link rel="icon" type="image/x-icon" href="/img/Enio_symbol_green_transparent_small.ico">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>
<body>
    <div class="header">
        <div class="logo">
            <img src="/img/Enio_wordmark_black_background.jpg" alt="Logo" style="height: 50px; width: auto;">
        </div>
        <form action="/" method="POST" class="navigation-form">
            <input type="hidden" name="direction" id="direction" />
            <button type="button" class="triangle-button backward" onclick="navigate('backward')"></button>
            <input type="text" name="currentHour" id="currentHour" value="<%= currentHour %>" />
            <button type="button" class="triangle-button forward" onclick="navigate('forward')"></button>
        </form>

    </div>
    <div class="navigate-line">
        <div id="home-icon" onclick="toggleNav()">
            <img src="/img/Enio-home-icon-small.png" alt="home" style="height: 20px; width: auto;">
        </div>
        <div class="home-text">Výsledky denného trhu</div>
    </div>

    <%- include('../partials/navigator') %>

    </div>

    <div class="container">
        <div class="left">
            <canvas id="myChart"></canvas>
        </div>
        <div class="right">
            <h3>Prehľad cien na dennom trhu</h3>
            <table>
                <thead>
                    <tr>
                        <th>Perioda</th>
                        <th>Cena SK</th>
                        <th>Cena DE</th>
                    </tr>
                </thead>
                <tbody>
                    
                    <% dataJSON.forEach(function(item) { %>
                        <tr>
                            <td class="timestamp"><%= item.perioda %></td>

                            <td>
                                <% if (item.cena_SK !== null && item.cena_SK !== undefined) { %>
                                    <%= item.cena_SK.toFixed(2) %>
                                <% } else { %>
                                    N/A
                                <% } %>

                            </td>


                            <td>
                                <% if (item.cena_DE !== null && item.cena_DE !== undefined) { %>
                                    <%= item.cena_DE.toFixed(2) %>
                                <% } else { %>
                                    N/A
                                <% } %>

                            </td>


                        </tr>
                    <% }); %>

                </tbody>
            </table>
        </div>
    </div>

    <script>

        let dataGraf_obj = ' <%-JSON.stringify(dataJSON) %> ';
        let dataGraf = JSON.parse(dataGraf_obj);

        const labels = dataGraf.map(item => item.perioda);
        const DT_cena_SK = dataGraf.map(item => item.cena_SK || null);
        const DT_cena_DE = dataGraf.map(item => item.cena_DE || null);


        function navigate(direction) {
            document.getElementById('direction').value = direction;
            document.querySelector('form').submit();
        }
    

        const ctx = document.getElementById('myChart').getContext('2d');
        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Cena_SK',
                    data: DT_cena_SK,
                    backgroundColor: 'rgba(181, 238, 71, 0.6)',
                    borderColor: 'rgba(96, 143, 6, 0.6)',
                    borderWidth: 1
                },
                {
                    label: 'Cena_DE',
                    type: 'line',
                    stepped: false,
                    data: DT_cena_DE,
                    backgroundColor: 'rgba(94, 202, 243, 0.8)',
                    borderColor: 'rgba(94, 202, 243, 0.8)',
                    BorderWidth: 2
                },]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                }
        });

    </script>

<script src="js/script.js"></script>

</body>
</html>
