<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enio | Vysledky VDT - 60 minút</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>
<body>
    <div class="header">
        <div class="logo">
            <img src="/img/Enio_wordmark_black_background.jpg" alt="Logo" style="height: 50px; width: auto;">
        </div>
        <form id="dateForm" class="navigation-form">
            <input type="hidden" name="direction" id="direction" />
            <button type="button" class="triangle-button backward" onclick="navigate('backward')"></button>
            <input type="date" name="currentDay" id="currentDay" value="<%= currentDay %>" />
            <button type="button" class="triangle-button forward" onclick="navigate('forward')"></button>
        </form>

    </div>
    <div class="navigate-line">
        <div id="home-icon" onclick="toggleNav()">
            <img src="/img/Enio-home-icon-small.png" alt="home" style="height: 20px; width: auto;">
        </div>
        <div class="home-text">Výsledky VDT - 15 minút</div>
    </div>

    <%- include('../partials/navigator') %>

    </div>

    <div class="container">
        <div class="left-dva-grafy">
            <div class="chart-dva-vertikalne">
                <canvas id="chart1"></canvas>
            </div>
            <div class="chart-dva-vertikalne">
                <canvas id="chart2"></canvas>
            </div>
        </div>
        <div class="right">
            <h3>Prehľad ceny VDT-15 min</h3>
            <table>
                <thead>
                    <tr>
                        <th>Perioda</th>
                        <th>Čas</th>
                        <th>Cena DT</th>
                        <th>Cena VDT-15 min.</th>
                        <th>Cena VDT-15 max.</th>
                        <th>Cena VDT-15 avg.</th>

                    </tr>
                </thead>
                <tbody id="table-body">
                    
                    <% dataJSON.forEach(function(item) { %>
                        <tr>
                            <td class="timestamp"><%= item.perioda %></td>
                            <td class="timestamp"><%= item.utc_cas %></td>

                            <td>
                                <% if (item.DT_SK_cena !== null && item.DT_SK_cena !== undefined) { %>
                                    <%= item.DT_SK_cena.toFixed(2) %>
                                <% } else { %>
                                    N/A
                                <% } %>

                            </td>

                            <td>
                                <% if (item.vdt_15_min !== null && item.vdt_15_min !== undefined) { %>
                                    <%= item.vdt_15_min.toFixed(2) %>
                                <% } else { %>
                                    N/A
                                <% } %>

                            </td>

                            <td>
                                <% if (item.vdt_15_max  !== null && item.vdt_15_max !== undefined) { %>
                                    <%= item.vdt_15_max.toFixed(2) %>
                                <% } else { %>
                                    N/A
                                <% } %>

                            </td>

                            
                            <td>
                                <% if (item.vdt_15_avg !== null && item.vdt_15_avg !== undefined) { %>
                                    <%= item.vdt_15_avg.toFixed(2) %>
                                <% } else { %>
                                    N/A
                                <% } %>

                            </td>

                        </tr>
                    <% }); %>

                </tbody>            
            </table>
        </div>
    </div>

    <script>

        let dataGraf_obj = ' <%-JSON.stringify(dataJSON) %> ';
        let dataGraf = JSON.parse(dataGraf_obj);

        const labels = dataGraf.map(item => item.perioda);
        const DT_SK_cena = dataGraf.map(item => item.DT_SK_cena|| null);
        const VDT15_cena_min = dataGraf.map(item => item.vdt_15_min ?? null);
        const VDT15_cena_max = dataGraf.map(item => item.vdt_15_max ?? null);
        const VDT15_cena_avg = dataGraf.map(item => item.vdt_15_avg ?? null);
        const VDT60_cena_avg = dataGraf.map(item => item.vdt_60_avg ?? null);
        const IDA1_cena = dataGraf.map(item => item.IDA1_cena ?? null);
        const IDA2_cena = dataGraf.map(item => item.IDA2_cena ?? null);
        const IDA3_cena = dataGraf.map(item => item.IDA3_cena ?? null);
        const DE15_cena = dataGraf.map(item => item.DT_cena_DE15 ?? null); 
        const objem_VDT_nakup = dataGraf.map(item => item.vdt_15_nakup ?? null);
        const objem_VDT_predaj = dataGraf.map(item => item.vdt_15_predaj * -1 ?? null);

        // Create the chart

       const ctx = document.getElementById('chart1').getContext('2d');
       window.myChart1 = new Chart(ctx, {
           type: 'line',
            data: {
                labels: labels,
                datasets: [
                    
                 {
                    label: 'Cena VTD-15 avg',
                    data: VDT15_cena_avg,
                    backgroundColor: 'green',
                    borderColor: 'green',
                    borderWidth: 2
                }, 
                {
                    label: 'Cena VTD-60 avg',
                    data: VDT60_cena_avg,
                    backgroundColor: 'red',
                    borderColor: 'red',
                    borderWidth: 1,
                    pointRadius: 1
                }, 
                {
                    label: 'Cena DT',
                    data: DT_SK_cena,
                    type: 'line',
                    fill: 'origin',
                    stepped:'middle',
                    backgroundColor: 'rgba(217, 217, 217, 0.6)',  
                    borderColor: 'rgba(191, 191, 191, 0.6)',
                    borderWidth: 1,
                    pointRadius: 1
                },
                {
                    label: 'Cena IDA1',
                    data: IDA1_cena,
                    backgroundColor: 'rgba(255, 138, 138, 0.6)',  
                    borderColor: 'rgba(255, 138, 138, 0.8)',
                    borderWidth: 1,
                    pointRadius: 1,
                    hidden: true
                },
                {
                    label: 'Cena IDA2',
                    data: IDA2_cena,
                    backgroundColor: 'rgba(148, 148, 255, 0.6)',  
                    borderColor: 'rgba(148, 148, 255, 0.8)',
                    borderWidth: 1,
                    pointRadius: 1,
                    hidden: true
                },
                {
                    label: 'Cena IDA3',
                    data: IDA3_cena,
                    backgroundColor: 'rgba(101, 198, 187, 0.6)',  
                    borderColor: 'rgba(101, 198, 187, 0.8)',
                    borderWidth: 1,
                    pointRadius: 1,
                    hidden: true
                },
                {
                    label: 'Cena DE-15',
                    data: DE15_cena,
                    backgroundColor: 'grey',  
                    borderColor: 'grey',
                    borderWidth: 1,
                    pointRadius: 1,
                    hidden: true
                },
                {
                    label: 'Cena VDT-15 min',
                    data: VDT15_cena_min,
                    type: 'line',
                    backgroundColor:  'rgba(127, 183, 127, 0.3)',
                    borderColor: 'rgba(127, 183, 127, 0.4)',
                    borderWidth: 1
                
                },
                {
                    label: 'Cena VDT-15 max',
                    data: VDT15_cena_max,
                    backgroundColor: 'rgba(127, 183, 127, 0.3)',
                    borderColor: 'rgba(127, 183, 127, 0.4)',
                    borderWidth: 1,
                    fill: '-1'  // Fill between this and the previous dataset
                }

  
            ]},
            options: {
                interaction: {
                    intersect: true,
                    mode: 'index'},
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                    title: {
                        display: true,
                        text: 'Prehľad cien ',
                        font: { size: 14 }
                    }
                }
        }});



        const ctx1 = document.getElementById('chart2').getContext('2d');
        window.myChart2 = new Chart(ctx1, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [
                {
                    label: 'Nákup VDT',
                    data: objem_VDT_nakup,
                    type: 'bar',
                    backgroundColor: 'green',
                    borderColor: 'green',
                    borderWidth: 1
                
                },
                {
                    label: 'Predaj VDT',
                    data: objem_VDT_predaj,
                    type: 'bar',
                    backgroundColor: 'rgba(127, 183, 127, 0.3)',
                    borderColor: 'rgba(127, 183, 127, 0.4)',
                    borderWidth: 1
                
                }
            ]
        },
        options: {
            interaction: {
                intersect: true,
                mode: 'index'
            },
            responsive: true,
            scales: {
                x: {
                    stacked: true
                },
                    y: {
                        stacked: true
                    }
                },
                maintainAspectRatio: false,
                plugins: {
                    title: {
                        display: true,
                        text: 'Zobchodované množstvo ',
                        font: { size: 14 }
                    }
                }
            }});


    </script>

<script src="js/script-vdt-15.js"></script>          <!--script, ktorý je zodpovedný pre navigátora-->

</body>
</html>
